/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:UNZIPFILES' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:PBTK_PBMERGE' {
        publishDir = [
            enabled: false
        ]
    }

    /////////////////////////////////
    // SUBWORKFLOW: PREPARE_GENOME //
    /////////////////////////////////

    withName: '.*:PREPARE_GENOME:GUNZIP_GENOME_FASTA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:PREPARE_GENOME:UNZIP_GENOME_FASTA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:PREPARE_GENOME:GENOME_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ///////////////
    // ALIGNMENT //
    ///////////////

    withName: '.*:PBMM2_ALIGN' {
        ext.args = {
            [
                // "--sort",
                "--unmapped",
                "--preset HIFI",
                "--log-level INFO",
                "--log-file pbmm2_align.log"
            ].join(" \\\n        ")
        }
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.aligned" }
        publishDir = [
            path: { "${params.outdir}/alignment/pbmm2/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/alignment/pbmm2/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/alignment/qc/samtools/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        publishDir = [
            path: { "${params.outdir}/alignment/qc/samtools/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/alignment/qc/samtools/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:DEEPTOOLS_BAMCOVERAGE' {
        publishDir = [
            path: { "${params.outdir}/alignment/qc/bamcoverage/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MOSDEPTH' {
        publishDir = [
            path: { "${params.outdir}/alignment/qc/mosdepth/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ///////////////////////////////////////////
    // SUBWORKFLOW: GERMLINE_CALLING_PHASING //
    ///////////////////////////////////////////

    withName: '.*:GERMLINE_CALLING_PHASING:CLAIR3' {
        ext.prefix = { "${meta.id}_" }
        ext.args = {
            [
                "--sample_name=${meta.id}",
                "--platform hifi",
                "--gvcf",
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/germline_snv/clair3/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,tbi}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:GERMLINE_CALLING_PHASING:HIPHASE' {
        ext.args = '--ignore-read-groups'
        publishDir = [
            path: { "${params.outdir}/germline_snv/hiphase/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /////////////////////////////////////
    // SUBWORKFLOW: SIGNATURE_ANALYSIS //
    /////////////////////////////////////

    withName: '.*:SIGNATURE_ANALYSIS:SAMTOOLS_DICT' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SIGNATURE_ANALYSIS:MUTATIONALPATTERN' {
        publishDir = [
            path: { "${params.outdir}/signature_analysis/mutationalpattern/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SIGNATURE_ANALYSIS:CHORD' {
        publishDir = [
            path: { "${params.outdir}/signature_analysis/chord/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////
    // SUBWORKFLOW: SOMATIC_SNV_INDEL //
    ////////////////////////////////////

    withName: '.*:SOMATIC_SNV_INDEL:DEEPSOMATIC' {
        publishDir = [
            path: { "${params.outdir}/somatic_snv/deepsomatic/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,tbi}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*:SOMATIC_SNV_INDEL:ENSEMBLVEP_DOWNLOAD' {
        ext.args = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        publishDir = [
            path: { "${params.outdir}/somatic_snv/vep_db" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SOMATIC_SNV_INDEL:ENSEMBLVEP_VEP' {
        ext.prefix = { "${meta.id}.vep.anno" }
        ext.args = {
            [
                " --offline",
                " --symbol",
                " --hgvs",
                " --check_existing",
                " --vcf",
                " --pick",
                " --flag_pick_allele_gene",
                " --everything"
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/somatic_snv/vep_annot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SOMATIC_SNV_INDEL:HIPHASE_SOMATIC' {
        ext.args = "--ignore-read-groups"
        publishDir = [
            path: { "${params.outdir}/somatic_snv/hiphase_somatic/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /////////////////////////////
    // SUBWORKFLOW: SOMATIC_SV //
    /////////////////////////////

    withName: '.*:SOMATIC_SV:SEVERUS' {
        ext.prefix = { "${meta.id}_severus" }
        publishDir = [
            path: { "${params.outdir}/somatic_sv/severus/${meta.id}/orig" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SOMATIC_SV:SVPACK_ANNOTATE:SVPACK_.*' {
        publishDir = [
            path: { "${params.outdir}/somatic_sv/svpack/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SVPACK_ANNOTATE:TABIX_BGZIPTABIX' {
        publishDir = [
            enabled: false
        ]
    }

    if (!params.skip_svpack) {

        withName: '.*:SOMATIC_SV:TABIX_SV_VCF' {
            publishDir = [
                path: { "${params.outdir}/somatic_sv/severus/${meta.id}/filtered" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

    } else {

        withName: '.*:SOMATIC_SV:TABIX_SV_VCF' {
            publishDir = [
                path: { "${params.outdir}/somatic_sv/severus/${meta.id}/orig" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

    }

    withName: '.*:SOMATIC_SV:ANNOTSV_INSTALLANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/somatic_sv/annotsv_db" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SOMATIC_SV:ANNOTSV_ANNOTSV' {
        publishDir = [
            path: { "${params.outdir}/somatic_sv/annotsv_annot/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //////////////////////////////
    // SUBWORKFLOW: CNV_CALLING //
    //////////////////////////////

    withName: '.*:CNV_CALLING:CNVKIT_BATCH' {
        ext.args = {
            [
                params.cnv_target_size ? "--target-avg-size ${params.cnv_target_size}" : "",
                params.workflow == 'wes' ? "--method hybrid" : "--method wgs",
                "--segment-method cbs",
                "--diagram",
                "--scatter",
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/somatic_cnv/cnvkit/batch/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CNV_CALLING:CNVKIT_CALL' {
        ext.args = {
            [
                params.cnv_min_var_depth ? "--min-variant-depth ${params.cnv_min_var_depth}" : "",
                "-m clonal"
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/somatic_cnv/cnvkit/call/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ///////////////////////////////////////
    // SUBWORKFLOW: METHYLATION_ANALYSIS //
    ///////////////////////////////////////

    withName: '.*:METHYLATION_ANALYSIS:PBCPGTOOLS_NORMAL' {
        ext.args = {
            [
                params.pbcpgtools_minmapq ? "--min-mapq ${params.pbcpgtools_minmapq}"    : "",
                params.pbcpgtools_mincov  ? "--min-coverage ${params.pbcpgtools_mincov}" : ""
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/methylation/pb_cpg_tools/normal/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:METHYLATION_ANALYSIS:PBCPGTOOLS_TUMOR' {
        ext.args = {
            [
                params.pbcpgtools_minmapq ? "--min-mapq ${params.pbcpgtools_minmapq}"    : "",
                params.pbcpgtools_mincov  ? "--min-coverage ${params.pbcpgtools_mincov}" : ""
            ].join(" \\\n        ")
        }
        publishDir = [
            path: { "${params.outdir}/methylation/pb_cpg_tools/tumor/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:METHYLATION_ANALYSIS:DSS_DMR' {
        publishDir = [
            path: { "${params.outdir}/methylation/dss_dmr/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:METHYLATION_ANALYSIS:ANNOTATR_DMR' {
        publishDir = [
            path: { "${params.outdir}/methylation/dmr_annot/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //////////////////////////////////
    // SUBWORKFLOW: TUMOR_CLONALITY //
    //////////////////////////////////

    withName: '.*:TUMOR_CLONALITY:AMBER' {
        publishDir = [
            path: { "${params.outdir}/tumor_clonality/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TUMOR_CLONALITY:COBALT' {
        publishDir = [
            path: { "${params.outdir}/tumor_clonality/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TUMOR_CLONALITY:PURPLE' {
        publishDir = [
            path: { "${params.outdir}/tumor_clonality/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
