/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:PBTK_PBMERGE' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:SAMTOOLS_DICT' {
       publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:PBMM2_ALIGN' {
        ext.prefix = { "${meta.id}.aligned" }
        ext.args = {
            [
                // "--sort",
                "--unmapped",
                "--preset HIFI",
                "--log-level INFO",
                "--log-file pbmm2_align.log"
            ].join(" \\\n        ")
        }
       publishDir = [
            path: { "${params.outdir}/alignment_qc/pbmm2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:BAM_SORT_STATS_SAMTOOLS' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools_sort_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:SAMTOOLS_SORT' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SAMTOOLS_INDEX' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:SAMTOOLS_STATS' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SAMTOOLS_IDXSTATS' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:SAMTOOLS_FLAGSTAT' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:DEEPTOOLS_BAMCOVERAGE' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/bamcoverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:MOSDEPTH' {
       publishDir = [
            path: { "${params.outdir}/alignment_qc/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:DEEPSOMATIC' {
       publishDir = [
            path: { "${params.outdir}/somatic_snv_indel/deepsomatic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:MUTATIONALPATTERN' {
       publishDir = [
            path: { "${params.outdir}/somatic_snv_indel/mutationalpattern" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:ENSEMBLVEP_DOWNLOAD' {
       publishDir = [
            path: { "${params.outdir}/somatic_snv_indel/vep_download" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ENSEMBLVEP_VEP' {
       ext.prefix = { "${meta.id}.vep.anno" }
       ext.args = {
        [
          " --offline",
          " --symbol",
          " --hgvs",
          " --refseq",
          " --check_existing",
          " --vcf",
          " --pick",
          " --flag_pick_allele_gene",
          " --everything"
        ].join(" \\\n        ")
       }

      publishDir = [
            path: { "${params.outdir}/somatic_snv_indel/vep_annot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SEVERUS' {
       publishDir = [
            path: { "${params.outdir}/somatic_sv/severus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:TABIX_SV_VCF' {
       publishDir = [
            path: { "${params.outdir}/somatic_sv/tabix_sv_vcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ANNOTSV_INSTALLANNOTATIONS' {
       publishDir = [
            path: { "${params.outdir}/somatic_sv/annotsv_install" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ANNOTSV_ANNOTSV' {
       publishDir = [
            path: { "${params.outdir}/somatic_sv/annotsv_annot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CNVKIT_BATCH' {
       ext.args = {
        [
         // "--annotate  ${params.CNVKit_refFlat}",
          "--target-avg-size ${params.CNVKit_target_avg_size}",
          "-m wgs",
          "--segment-method cbs",
          " --diagram",
          " --scatter"
        ].join(" \\\n        ")
       }
       publishDir = [
            path: { "${params.outdir}/somatic_cnv/cnvkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CNVKIT_CALL' {
       ext.args = {
        [
          " -m  clonal",
          " --min-variant-depth ${params.CNVKit_min_var_depth}"
        ].join(" \\\n        ")
       }
       publishDir = [
            path: { "${params.outdir}/somatic_cnv/cnvkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:CLAIR3' {
       // ext.prefix = { "${meta.id}" }
       ext.args = {
        [
          "--sample_name=${meta.id}"
        ].join(" \\\n        ")
       }
      publishDir = [
            path: { "${params.outdir}/methylation_cpg/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:HIPHASE' {
       ext.args = {
        [
          " --ignore-read-groups"
        ].join(" \\\n        ")
       }
       publishDir = [
            path: { "${params.outdir}/methylation_cpg/hiphase" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:HIPHASE_SOMATIC' {
       ext.args = {
        [
          " --ignore-read-groups"

        ].join(" \\\n        ")
       }

       publishDir = [
            path: { "${params.outdir}/methylation_cpg/hiphase_somatic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:PBCPGTOOLS_NORMAL' {

       publishDir = [
            path: { "${params.outdir}/methylation_cpg/pb_cpg_tools_normal" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

       ext.args = {
         [
           "--min-mapq ${params.pbcpgtools_minmapq}",
           "--min-coverage ${params.pbcpgtools_mincov}"
         ].join(" \\\n        ")
       }

    }

   withName: '.*:PBCPGTOOLS_TUMOR' {

       publishDir = [
            path: { "${params.outdir}/methylation_cpg/pb_cpg_tools_tumor" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

       ext.args = {
       	 [
       	   "--min-mapq ${params.pbcpgtools_minmapq}",
       	   "--min-coverage ${params.pbcpgtools_mincov}"
       	 ].join(" \\\n        ")
       }
    }

   withName: '.*:DSS_DMR' {
       publishDir = [
            path: { "${params.outdir}/methylation_cpg/dss_dmr" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:ANNOTATR_DMR' {
       publishDir = [
            path: { "${params.outdir}/methylation_cpg/dmr_annot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:AMBER' {
       publishDir = [
            path: { "${params.outdir}/tumor_purity_ploid/amber" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:COBALT' {
       publishDir = [
            path: { "${params.outdir}/tumor_purity_ploid/cobalt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:PURPLE' {
       publishDir = [
            path: { "${params.outdir}/tumor_purity_ploid/purple" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:CHORD' {
       publishDir = [
            path: { "${params.outdir}/hrd_estimation/chord" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
