/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacsomatic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 24,
        memory: '4.GB',
        time: '24.h'
    ]
    
    process.executor = 'lsf'
    process.queue    = 'standard'  // 'large_core_count'   // 'heavy_io' 'large_core_count' //'standard'
}

/*
env {
    HOME              = '/scratch_space/wzhang42/tmp'
    NXF_TEMP          = '/scratch_space/wzhang42/tmp'
    SINGULARITY_TMPDIR= '/scratch_space/wzhang42/tmp'
    MPLCONFIGDIR      = '/scratch_space/wzhang42/tmp'
   
    APPTAINERENV_TMPDIR='/scratch_space/wzhang42/tmp'
    APPTAINERENV_NXF_TASK_WORKDIR='/scratch_space/wzhang42/tmp'

}
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    HiFi_Somatic_Config="/research/groups/cab/projects/Control/common/HiFi_Somatic_Nextflow/HiFi_Somatic_Config"

    Severus_trf_bed="${HiFi_Somatic_Config}/hifisomatic_resources/human_GRCh38_no_alt_analysis_set.trf.bed"
    //bed file with tandem repeat locations

    ENSEMBLE_DATA_DIR="${HiFi_Somatic_Config}/hmf_dna_pipeline_resources"
    
    vep_cache="${HiFi_Somatic_Config}/vep_cache_data"      // homo_sapiens_refseq_vep_110_GRCh38.tar.gz"
    
    pbcpgtools_minmapq =1 
    pbcpgtools_mincov  =4
   
    vep_assembly = "GRCh38"
    vep_species  = "homo_sapiens"
    vep_cache_version ="110"  //"115"

    SVPack_control_vcf="${HiFi_Somatic_Config}/hifisomatic_resources/sniffles_all_non_germline.nosamples.vcf.gz"
    SVPack_ref_gff="${HiFi_Somatic_Config}/hifisomatic_resources/ensembl.GRCh38.101.reformatted.gff3.gz"
    annotsv_cache="${HiFi_Somatic_Config}/annotsv_cache_data"   // annotsv_cache.tar.gz

    CNVKit_refFlat="${HiFi_Somatic_Config}/hifisomatic_resources/refFlat.hg38.txt"
    CNVKit_target_avg_size=10000
    CNVKit_min_var_depth  =20

    heterozygous_sites="${params.ENSEMBLE_DATA_DIR}/copy_number/GermlineHetPon.*.vcf.gz"
    target_regions_bed="${params.ENSEMBLE_DATA_DIR}/copy_number/target_regions_definition.38.bed"
    
    diploid_regions="${params.ENSEMBLE_DATA_DIR}/copy_number/DiploidRegions.38.bed.gz"
    target_region_normalisation="${params.ENSEMBLE_DATA_DIR}/copy_number/target_regions_normalisation.38.tsv"
    
    tumor_min_depth=""
   
    gc_profile="${params.ENSEMBLE_DATA_DIR}/copy_number/GC_profile.*.cnp"
    known_hotspots_germline="${params.ENSEMBLE_DATA_DIR}/variants/KnownHotspots.germline.38.vcf.gz"
    known_hotspots_somatic="${params.ENSEMBLE_DATA_DIR}/variants/KnownHotspots.somatic.38.vcf.gz"
    driver_gene_panel="${params.ENSEMBLE_DATA_DIR}/common/DriverGenePanel.38.tsv"
    ensembl_data_dir="${params.ENSEMBLE_DATA_DIR}/common/ensembl_data"
    
   /*    
    TMPDIR="/scratch_space/wzhang42/tmp"
    MPLCONFIGDIR="/scratch_space/wzhang42/tmp"   
   */

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'// Genome references
    genome = 'R64-1-1'
}
