/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacsomatic -profile test_minimal,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test minimal profile'
    config_profile_description = 'Minimal test with core steps only'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/testata/samplesheet.csv'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/reference/chr20.fa.gz'

    // Clair3 model
    clair3_model = 'hifi_revio'

    // Skip all optional analyses
    skip_pbcpgtools       = true
    skip_dmr              = true
    skip_dmr_anno         = true
    skip_sv               = true
    skip_svpack           = true
    skip_annotsv          = true
    skip_cnvkit           = true
    skip_tumor_clonality  = true
    skip_chord            = true
    skip_mutationalpattern= true
    skip_hiphase          = true
    skip_somatic_hiphase  = true
    skip_ensemblvep       = true
    skip_vep_download     = true
    skip_qc               = true
    skip_mosdepth         = true
    skip_bamcoverage      = true
    skip_multiqc          = true
}

