/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacsomatic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/testdata/samplesheet.csv'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/reference/chr20.fa.gz'

    // Clair3 model
    clair3_model = 'hifi_revio'

    // Skip resource-intensive steps for default test
    skip_vep_download     = true
    skip_ensemblvep       = true
    skip_annotsv_install  = true
    skip_annotsv          = true
    skip_tumor_clonality  = true
    skip_pbcpgtools       = true
    skip_svpack           = true
    skip_hiphase          = true
    skip_somatic_hiphase  = true
    skip_chord            = true
    skip_mutationalpattern= true
}
