/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests without methylation analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacsomatic -profile test_skip_methylation,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test skip methylation profile'
    config_profile_description = 'Test without methylation analysis'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/testdata/samplesheet.csv'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/reference/chr20.fa.gz'

    // Clair3 model
    clair3_model = 'hifi_revio'

    // Skip methylation analysis
    skip_pbcpgtools       = true
    skip_dmr              = true
    skip_dmr_anno         = true

    // Skip other resource-intensive steps
    skip_vep_download     = true
    skip_ensemblvep       = true
    skip_annotsv_install  = true
    skip_annotsv          = true
    skip_svpack           = true
    skip_tumor_clonality  = true
    skip_chord            = true
    skip_mutationalpattern= true
}

