/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests without structural variant calling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacsomatic -profile test_skip_sv,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test skip SV profile'
    config_profile_description = 'Test without structural variant calling'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/testdata/samplesheet.csv'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/pacsomatic/reference/chr20.fa.gz'

    // Clair3 model
    clair3_model = 'hifi_revio'

    // Skip SV analysis
    skip_sv               = true
    skip_svpack           = true
    skip_annotsv          = true

    // Skip other resource-intensive steps
    skip_vep_download     = true
    skip_ensemblvep       = true
    skip_tumor_clonality  = true
    skip_chord            = true
    skip_dmr              = true
    skip_dmr_anno         = true
    skip_mutationalpattern= true
}

